{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Gérer les Lieux{% endblock %}

{% block main %}

    <h2 class="mb-5">Ajouter un lieu</h2>

    {# Tableau des lieux #}
    <section class="mt-4">

        <div class="table-responsive w-75 mx-auto">
            <table class="table w-100">

                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Rue</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col" style="width: 180px;">Actions</th>
                </tr>
                </thead>

                <tbody>


                {{ form_start(lieux_form) }}
                <tr class="table-primary">
                    <td>
                        {{ form_row(lieux_form.nom) }}
                    </td>
                    <td>
                        {{ form_row(lieux_form.rue) }}
                    </td>
                    <td>
                        {{ form_row(lieux_form.ville) }}
                    </td>

                    <td>
                        {{ form_row(lieux_form.latitude) }}
                    </td>
                    <td>
                        {{ form_row(lieux_form.longitude) }}
                    </td>
                    <td style="width: 50px;">
                        {{ form_widget(lieux_form.submit, {
                            label: 'Ajouter',
                            attr: { class: 'btn btn-success' }
                        }) }}
                    </td>
                </tr>
                {{ form_end(lieux_form) }}

                {% for lieu in lieux %}
                    <tr class="table-primary">
                        <td>{{ lieu.nom|capitalize }}</td>
                        <td>{{ lieu.rue }}</td>
                        <td>{{ lieu.ville.nom }}</td>
                        <td>{{ lieu.latitude }}</td>
                        <td>{{ lieu.longitude }}</td>

                        <td style="width: 50px;">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-sm btn-info"
                                   href="{{ path('app_lieu_modifier', { id:lieu.id }) }}">
                                    Modifier
                                </a>

                                <a class="btn btn-sm btn-danger"
                                   href="{{ path('app_lieu_supprimer', { id: lieu.id, token: csrf_token('lieu_delete' ~ lieu.id) }) }}"
                                   onclick="return confirm('Êtes-vous sûr·e de vouloir supprimer ce lieu ?')">
                                    Supprimer
                                </a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
