{% extends 'base.html.twig' %}

{% form_theme profil_form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent()}} | Modifier mon profil{% endblock %}

{% block main %}

    <h2>Modifier mon profil [{{ app.user.pseudo }}]</h2>

    <div class="row justify-content-center">
        <div class="col-12 col-md-3">

            {{ form_errors(profil_form) }}
            {{ form_start(profil_form) }}
            {{ form_widget(profil_form) }}
            <div class="text-center">
                <button class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_end(profil_form) }}

        </div>
    </div>

{% endblock %}
