{% extends 'base.html.twig' %}

{% form_theme profil_form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent()}} | Modifier mon profil{% endblock %}

{% block main %}

    <div class="row justify-content-center">
        <div class="card text-white bg-secondary mb-3" style="max-width: 32rem;">
            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 60px;">
                <h2 class="card-title mb-0">
                    Modifier mon profil
                </h2>
            </div>
            <div class="card-body mt-4">

                {{ form_errors(profil_form) }}
                {{ form_start(profil_form) }}
                {{ form_widget(profil_form) }}
                <div class="text-center">
                    <button class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_end(profil_form) }}
            </div>
        </div>
    </div>

{% endblock %}
