{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil de {{ participant.pseudo }}{% endblock %}

{% block main %}

    {% set statut = participant.isActif ? 'actif' : 'inactif' %}
    {% set statutBtnText = participant.isActif ? 'Désactiver' : 'Activer' %}
    {% set prenomNom = participant.prenom ~ ' ' ~ participant.nom|upper %}

    <div class="row justify-content-center">
        <div class="card text-white bg-secondary mb-3" style="max-width: 32rem;">
            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 60px;">
                <h2 class="card-title mb-0">
                    Profil de {{ participant.pseudo }}
                </h2>
            </div>
            <div class="card-body mt-4">

                <div class="avatar text-center mb-3">
                    <img
                        src="{{ participant.urlPhoto ? asset('uploads/photos/' ~ participant.urlPhoto) : asset ('images/default_avatar.jpg') }}"
                        alt="Image de profil de {{ participant.pseudo }}"
                        loading="lazy">
                </div>

                <p><strong>Pseudo :</strong> {{ participant.pseudo }}</p>
                <p><strong>Nom :</strong> {{ participant.nom }}</p>
                <p><strong>Prénom :</strong> {{ participant.prenom }}</p>
                <p><strong>Campus : </strong> {{ participant.site.nom }} </p>

                {% if app.user and app.user.id == participant.id %}
                    <p><strong>Adresse mail :</strong> {{ participant.email }}</p>
                    <p><strong>Téléphone :</strong> {{ participant.telephone }}</p>
                {% endif %}

                {% if app.user and app.user.id == participant.id %}
                    <div class="text-center mt-5">
                        <a href="{{ path('app_profil_edit', { id: participant.id }) }}"
                           class="btn btn-primary">
                            Modifier mon profil
                        </a>
                        <a href="{{ path('app_profil_update_password', { id: participant.id }) }}"
                           class="btn btn-primary">
                            Modifier mon mot de passe
                        </a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and app.user.id != participant.id %}

                    <div class="text-center mt-3">
                        <a
                            href="{{ path('app_admin_changer_statut_utilisateur', { id: participant.id }) }}"
                            class="btn {{ participant.isActif ? 'btn-warning' : 'btn-info' }}"
                            onclick="return confirm('{{ statutBtnText }} le compte de {{ prenomNom }} ?')"
                        >
                            {{ statutBtnText }}
                        </a>
                        <a
                            href="{{ path('app_admin_utilisateur_delete', { id: participant.id, token: csrf_token('utilisateur_delete' ~ participant.id) }) }}"
                            onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet utilisateur ?')"
                            class="btn btn-danger">Supprimer</a>
                    </div>
                {% endif %}

                <div class="text-center mt-3">
                    <button class="btn btn-dark" onclick="history.back()">Retour</button>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') or app.user.id == participant.id %}
        <section class="mt-5">
            <h2 class="card-title mb-0">Mes Sorties Organisées</h2>
            <div class="table-responsive w-75 mx-auto">
                <table class="table">
                    <thead class="py-3">
                    <tr>
                        <th scope="col" class="col-nom">Nom de la sortie</th>
                        <th scope="col" class="col-date">Date</th>
                        <th scope="col" class="col-date">Fin des inscriptions</th>
                        <th scope="col" class="col-inscrit">Inscrits</th>
                        <th scope="col" class="col-etat">État</th>
                        <th scope="col" class="col-actions">Actions</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">Administrer</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in participant.sortiesOrganisees %}
                        {% if not sortie.isArchivee() %}
                            <tr class="table-primary">
                                <td class="col-nom">
                                    <a href="{{ path('app_sortie_detail', { id: sortie.id }) }}"
                                       class="btn btn-info">
                                        {{ sortie.nom }}
                                    </a>
                                </td>

                                <td>{{ sortie.dateDebut|date('d/m/Y à H:i', 'Europe/Paris') }} </td>
                                <td>{{ sortie.dateCloture|date('d/m/Y à H:i') }}</td>
                                <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                                <td>{{ sortie.etat.libelleAffichage }}</td>
                                <td>
                                    {% if (sortie.modifiable) %}
                                        <a class="btn btn-secondary"
                                           href="{{ path('app_sortie_edit', { id: sortie.id }) }}">
                                            Modifier
                                        </a>
                                        <a class="btn btn-secondary"
                                           href="{{ path('app_sortie_cancel', { id: sortie.id, token: csrf_token('sortie_cancel' ~ sortie.id) }) }}"
                                        >
                                            Annuler
                                        </a>
                                    {% endif %}

                                    {% if sortie.enCours %}
                                        <p class="mb-0 mt-2">Sortie en cours !</p>
                                    {% endif %}
                                    {% if sortie.passee %}
                                        <p class="mb-0 mt-2">Sortie terminée !</p>
                                    {% endif %}
                                    {% if sortie.annulee %}
                                        <p class="mb-0 mt-2">Sortie annulée !</p>
                                    {% endif %}
                                    {% if sortie.cloturee %}
                                        <p class="mb-0 mt-2">Sortie clôturée !</p>
                                    {% endif %}
                                </td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        {% if not(sortie.enCours) and not(sortie.annulee) and not(sortie.passee) %}
                                            <a class="btn btn-danger"
                                               href="{{ path('app_sortie_cancel', { id: sortie.id, token: csrf_token('sortie_cancel' ~ sortie.id) }) }}"
                                               onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir annuler cette sortie ?')">
                                                Annuler
                                            </a>
                                        {% endif %}
                                        {% if (sortie.etat.libelle === 'CREEE') %}
                                            <a class="btn btn-danger"
                                               href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                                               onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir supprimer cette sortie ?')">
                                                Supprimer
                                            </a>
                                        {% endif %}
                                        {% if (sortie.annulee or sortie.passee) %}
                                            <a class="btn btn-danger"
                                               href="{{ path('app_sortie_archive', { id: sortie.id, token: csrf_token('sortie_archive' ~ sortie.id) }) }}"
                                               onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir archiver cette sortie ?')">
                                                Archiver
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
        <section class="mt-5">
            <h2 class="card-title mb-0">Mes Sorties</h2>
            <div class="table-responsive w-75 mx-auto">
                <table class="table">
                    <thead class="py-3">
                    <tr>
                        <th scope="col" class="col-nom">Nom de la sortie</th>
                        <th scope="col" class="col-date">Date</th>
                        <th scope="col" class="col-date">Fin des inscriptions</th>
                        <th scope="col" class="col-inscrit">Inscrits</th>
                        <th scope="col" class="col-etat">État</th>
                        <th scope="col" class="col-actions">Actions</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">Administrer</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in participant.sorties %}
                        {% if not sortie.isArchivee() %}
                            <tr class="table-primary">
                                <td class="col-nom">
                                    <a href="{{ path('app_sortie_detail', { id: sortie.id }) }}"
                                       class="btn btn-info">
                                        {{ sortie.nom }}
                                    </a>
                                </td>

                                <td>{{ sortie.dateDebut|date('d/m/Y à H:i', 'Europe/Paris') }} </td>
                                <td>{{ sortie.dateCloture|date('d/m/Y à H:i') }}</td>
                                <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                                <td>{{ sortie.etat.libelleAffichage }}</td>
                                <td>
                                    {% if (sortie.modifiable) %}
                                        <a class="btn btn-secondary"
                                           href="{{ path('app_sortie_edit', { id: sortie.id }) }}">
                                            Modifier
                                        </a>
                                        <a class="btn btn-secondary"
                                           href="{{ path('app_sortie_cancel', { id: sortie.id, token: csrf_token('sortie_cancel' ~ sortie.id) }) }}"
                                        >
                                            Annuler
                                        </a>
                                    {% endif %}

                                    {% if sortie.enCours %}
                                        <p class="mb-0 mt-2">Sortie en cours !</p>
                                    {% endif %}
                                    {% if sortie.passee %}
                                        <p class="mb-0 mt-2">Sortie terminée !</p>
                                    {% endif %}
                                    {% if sortie.annulee %}
                                        <p class="mb-0 mt-2">Sortie annulée !</p>
                                    {% endif %}
                                    {% if sortie.cloturee %}
                                        <p class="mb-0 mt-2">Sortie clôturée !</p>
                                    {% endif %}
                                </td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        {% if not(sortie.enCours) and not(sortie.annulee) and not(sortie.passee) %}
                                            <a class="btn btn-danger"
                                               href="{{ path('app_sortie_cancel', { id: sortie.id, token: csrf_token('sortie_cancel' ~ sortie.id) }) }}"
                                               onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir annuler cette sortie ?')">
                                                Annuler
                                            </a>
                                        {% endif %}
                                        {% if (sortie.etat.libelle === 'CREEE') %}
                                            <a class="btn btn-danger"
                                               href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                                               onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir supprimer cette sortie ?')">
                                                Supprimer
                                            </a>
                                        {% endif %}
                                        {% if (sortie.annulee or sortie.passee) %}
                                            <a class="btn btn-danger"
                                               href="{{ path('app_sortie_archive', { id: sortie.id, token: csrf_token('sortie_archive' ~ sortie.id) }) }}"
                                               onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir archiver cette sortie ?')">
                                                Archiver
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
    {% endif %}
{% endblock %}
