{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}

    <h2>Profil de {{ participant.pseudo }}</h2>

    <div>
        <div>
            {% if participant.urlPhoto %}
                <img src="{{ asset('uploads/photos/' ~ participant.urlPhoto) }}"
                     width="250px"
                     alt="Image de profil de {{ participant.pseudo }}"
                     loading="lazy">
            {% endif %}
        </div>
        <p>Pseudo : {{ participant.pseudo }}</p>
        <p>Nom : {{ participant.nom }}</p>
        <p>Prénom : {{ participant.prenom }}</p>
        <p>Adresse mail : {{ participant.email }}</p>
        <p>Téléphone : {{ participant.telephone }}</p>
    </div>

    {% if app.user and app.user.id == participant.id %}
        <a href="{{ path('app_profil_edit', { id: participant.id }) }}" class="btn btn-primary">Modifier mon profil</a>
    {% endif %}

{% endblock %}
