{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin - Gérer les Sites{% endblock %}

{% block main %}

    <h2 class="mb-5">Administrer les sites</h2>

    {# BARRE DE RECHERCHE #}
    <div class="row justify-content-center">
        <div class="card text-white bg-secondary mb-3" style="width: 30%;">

            <div class="card-body d-flex align-items-center">
                <div class="w-100">

                    {{ form_start(search_form) }}

                    <div class="input-group">
                        {{ form_widget(search_form.nom, {
                            attr: {
                                class: 'form-control',
                                placeholder: 'Recherche par nom...'
                            }
                        }) }}

                        <button class="btn btn-primary" type="submit">
                            Rechercher
                        </button>
                    </div>

                    {{ form_end(search_form) }}

                </div>
            </div>
        </div>
    </div>

    <section class="mt-4">

        <div class="table-responsive w-50 mx-auto">
            <table class="table w-100">

                <thead>
                <tr>
                    <th scope="col">Site</th>
                    <th scope="col" style="width: 20%;">Actions</th>
                </tr>
                </thead>

                <tbody>

                {% for site in sites %}
                    <tr class="table-primary">
                        <td>CAMPUS {{ site.nom|upper }}</td>

                        <td class="text-end" style="width: 20%;">
                            <a class="btn btn-sm btn-info"
                               href="{{ path('app_admin_site_update', { id: site.id, token: csrf_token('site_update' ~ site.id) }) }}">
                                Modifier
                            </a>

                            <a class="btn btn-sm btn-danger"
                               href="{{ path('app_admin_site_delete', { id: site.id, token: csrf_token('site_delete' ~ site.id) }) }}"
                               onclick="return confirm('Êtes-vous sûr·e de vouloir supprimer ce site ?')">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                {{ form_start(site_form) }}
                <tr class="table-primary">
                    <td>
                        {{ form_row(site_form.nom) }}
                    </td>

                    <td class="text-end" style="width: 20%;">
                        {{ form_widget(site_form.submit, {
                            label: 'Ajouter',
                            attr: { class: 'btn btn-success' }
                        }) }}
                    </td>

                </tr>
                {{ form_end(site_form) }}

                </tbody>

            </table>
        </div>

    </section>
{% endblock %}
