{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin - Gérer les Campus{% endblock %}


{% block main %}

    <h2 class="mb-5">Modifier un campus</h2>

    <section>
        <div class="table-responsive w-25 mx-auto">
            <table class="table w-100">
                <thead>
                <tr>
                    <th scope="col">Nom du campus</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                {{ form_errors(site_update_form) }}
                {{ form_start(site_update_form) }}
                <tr class="table-primary">
                    <td>
                        {{ form_row(site_update_form.nom, { 'value': site.nom | upper }) }}
                    </td>
                    <td>
                        {{ form_row(site_update_form.submit, { 'label': 'Enregistrer', attr: { class: 'btn btn-info' } }) }}
                    </td>
                </tr>
                {{ form_end(site_update_form) }}
            </table>
        </div>
    </section>


{% endblock %}
