{% extends 'base.html.twig' %}

{% block title %}Gérer les Villes{% endblock %}

{% block main %}
    <h2>Gérer les villes</h2>

    <section>
        {{ form_errors(search_form) }}
        {{ form_start(search_form) }}
        {{ form_end(search_form) }}
    </section>
    <section>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {{ form_errors(villes_form) }}
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom | capitalize }}</td>
                    <td>{{ ville.cpo }}</td>
                    <td><a href="{{ path('app_admin_ville_update', {id: ville.id, token: csrf_token('ville_update' ~ ville.id)}) }}">Modifier</a> - <a
                            href="{{ path('app_admin_ville_delete', { id: ville.id, token: csrf_token('ville_delete' ~ ville.id) }) }}"
                        onclick="return confirm('Etes vous sur de vouloir supprimer cette ville?')">Supprimer</a></td>
                </tr>
            {% endfor %}
            {{ form_start(villes_form) }}
                <tr>
                    <td>
                        {{ form_row(villes_form.nom) }}
                    </td>
                    <td>
                        {{ form_row(villes_form.cpo) }}
                    </td>
                    <td>
                        {{ form_row(villes_form.submit, { 'label': 'Ajouter' }) }}
                    </td>
                </tr>
            {{ form_end(villes_form) }}
        </table>
    </section>

{% endblock %}
