{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Détails de la sortie{% endblock %}

{% block main %}
    {% set status_class = {
        'CREEE': 'secondary',
        'OUVERTE': 'success',
        'EN_COURS': 'info',
        'CLOTUREE': 'warning',
        'PASSEE': 'dark',
        'ANNULEE': 'danger'
    } %}

    {% set status_label = {
        'CREEE': 'créée',
        'OUVERTE': 'ouverte',
        'EN_COURS': 'en cours',
        'CLOTUREE': 'clôturée',
        'PASSEE': 'passée',
        'ANNULEE': 'annulée'
    } %}

    <div class="row justify-content-center">
        <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">

            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 60px;">
                <h2 class="card-title mb-0 mx-4">Détails de la sortie</h2>
                <span class="badge rounded-pill bg-{{ status_class[sortie.etat.libelle] }}">
                    {{ status_label[sortie.etat.libelle]|capitalize }}
                </span>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-light">Nom de la sortie : {{ sortie.nom }}</p>
                        <p class="text-light">Date et heure : {{ sortie.dateDebut|date }}</p>
                        <p class="text-light">Date limite : {{ sortie.dateCloture|date }}</p>
                        <p class="text-light">Places : {{ sortie.participants.count }}
                            / {{ sortie.nbInscriptionsMax }}</p>
                        <p class="text-light">Durée : {{ sortie.duree }}</p>
                    </div>

                    <div class="col-md-6">
                        <p class="text-light">Lieu : {{ sortie.lieu.nom }}</p>
                        <p class="text-light">Rue : {{ sortie.lieu.rue }}</p>
                        <p class="text-light">Ville : {{ sortie.siteOrganisateur.nom }}
                            - {{ sortie.lieu.ville.cpo }}</p>
                        <p class="text-light">Latitude / longitude : {{ sortie.lieu.latitude }} / {{ sortie.lieu.longitude }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card text-white bg-primary" style="max-width: 40rem;">
            <div class="card-body">
                <p class="text-light">Description : {{ sortie.description }}</p>
            </div>
        </div>
    </div>

    <div>
        {% if not(app.user.pseudo == sortie.organisateur.pseudo) %}
            <div class="text-center mt-3">

                {% if not(app.user.sorties.contains(sortie)) %}
                    <a class="btn btn-success" href="{{ path('app_sortie_inscription', { id: sortie.id }) }}"
                       onclick="return confirm('Confirmer l\'inscription ?')">S'inscrire</a>
                {% else %}
                    <a class="btn btn-warning" href="{{ path('app_sortie_desinscription', { id: sortie.id }) }}"
                       onclick="return confirm('Vous êtes sur le point d\'annuler votre inscription à cette sortie. Confirmer ?')">Me
                        désinscrire</a>
                {% endif %}
            </div>
        {% endif %}

        {% if app.user.pseudo == sortie.organisateur.pseudo %}
            <div class="text-center mt-3"><a href="{{ path('app_sortie_edit', { id: sortie.id }) }}"
                                             class="btn btn-warning">Modifier</a>
                <a href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                   class="btn btn-dark"
                   onclick="return confirm('Êtes-vous sûr·e de vouloir annuler cette sortie ?')">Annuler</a></div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-center mt-3 mb-4"><a class="btn btn-danger"
                                                  href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                                                  onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir supprimer cette sortie ?')">Supprimer</a>
            </div>

        {% endif %}
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 60px;">
                <h2 class="card-title mb-0">
                    Participants inscrits
                </h2>
            </div>

            <div class="mt-3">
                {% for participant in participants %}
                    <p class="liens-participants-inscrits"><a
                            href="{{ path('app_profil_detail', { id: participant.id }) }}">
                            {{ participant.pseudo }}
                        </a></p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
