{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block main %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-3">

            {{ form_errors(sortie_form) }}
            {{ form_start(sortie_form) }}
            {{ form_widget(sortie_form) }}
            <div class="text-center">
                <button class="btn btn-primary">Valider</button>
            </div>
            {{ form_end(sortie_form) }}

        </div>
    </div>
{% endblock %}


