{% extends 'base.html.twig' %}

{% form_theme tri_form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} | Accueil - Liste des Sorties{% endblock %}

{% block main %}
    <div>
        {% if participant != null %}
            <p>Participant·e: {{ participant.pseudo }}</p>
        {% endif %}
        <p>Date du jour: {{ today | date('d/m/Y') }}</p>
    </div>

    <section>
        <h2>Filtrer les sorties</h2>

        <div class="row justify-content-center">
            <div class="col-12 col-md-3">

                {{ form_errors(tri_form) }}
                {{ form_start(tri_form) }}
                {{ form_widget(tri_form) }}
                {{ form_end(tri_form) }}
                <button class="btn btn-primary">TODO: EFFACER FILTRES</button>
            </div>
        </div>

    </section>

    <section>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits</th>
                <th scope="col">État</th>
                <th scope="col">Inscrit·e</th>
                <th scope="col">Organisateur·ice</th>
                <th scope="col">Actions</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Administrer</th>
                {% endif %}
            </tr>
            </thead>

            {% for sortie in sorties %}
                <tr>
                    <td>
                        <a href="{{ path('app_sortie_detail', { id: sortie.id }) }}"
                           class="btn btn-primary">{{ sortie.nom }}</a>
                    </td>
                    <td>{{ sortie.dateDebut | date('d/m/Y') }}</td>
                    <td>{{ sortie.dateCloture | date('d/m/Y') }}</td>
                    <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if not(app.user.sorties.contains(sortie)) %}
                            -
                        {% else %}
                            Vous êtes inscrit·e !
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_profil_detail', { id: sortie.organisateur.id }) }}">
                            {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first|upper }}
                        </a>
                    </td>
                    <td>
                        {% if not(app.user.pseudo == sortie.organisateur.pseudo) %}
                            {% if not(app.user.sorties.contains(sortie)) %}
                                <a class="btn btn-success" href="{{ path('app_sortie_inscription', { id: sortie.id }) }}"
                                   onclick="return confirm('Confirmer l\'inscription ?')">S'inscrire</a>
                            {% else %}
                                <a class="btn btn-warning" href="{{ path('app_sortie_desinscription', { id: sortie.id }) }}"
                                   onclick="return confirm('Vous êtes sur le point d\'annuler votre inscription à cette sortie. Confirmer ?')">Me
                                    désinscrire</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-warning" href="{{ path('app_sortie_edit', { id: sortie.id }) }}">Modifier</a>
                            <a class="btn btn-warning" href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                               onclick="return confirm('Êtes-vous sûr·e de vouloir supprimer cette sortie ?')">Supprimer</a>
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="btn btn-danger" href="{{ path('app_sortie_edit', { id: sortie.id }) }}">Modifier</a>
                            <a class="btn btn-danger"
                               href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                               onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir supprimer cette sortie ?')">Supprimer</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </section>


    <section>
        <a href="{{ path('app_sortie_creer') }}" class="btn btn-primary">Créer une sortie</a>
    </section>





{% endblock %}
