{% extends 'base.html.twig' %}

{% form_theme tri_form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} | Accueil - Liste des Sorties{% endblock %}

{% block main %}


    <div class="row justify-content-center">
        <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 60px;">
                <h2 class="card-title mb-0">
                    Filtrer les sorties
                </h2>
            </div>
            <div class="card-body mt-4">

                {{ form_start(tri_form) }}

                <div class="row">

                    {# COLONNE GAUCHE #}
                    <div class="col-md-6">
                        {{ form_row(tri_form.Site) }}
                        {{ form_row(tri_form.recherche) }}

                        <div class="row g-2">
                            <div class="col-6">
                                {{ form_row(tri_form.dateDebut) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(tri_form.dateCloture) }}
                            </div>
                        </div>
                    </div>

                    {# COLONNE DROITE #}
                    <div class="col-md-6">

                        {# État au-dessus #}
                        {{ form_row(tri_form.etat) }}

                        {# Checkboxes en dessous #}
                        {{ form_row(tri_form.organisateur) }}
                        {{ form_row(tri_form.inscrit) }}
                        {{ form_row(tri_form.non_inscrit) }}
                        {{ form_row(tri_form.passees) }}

                    </div>

                </div>

                <div class="text-center mt-4">
                    {{ form_widget(tri_form.Submit) }}
                    {{ form_widget(tri_form.Reset) }}
                </div>
                {{ form_end(tri_form) }}

                <div class="text-center mt-4">
                {{ form(afficher_tout_form) }}
                </div>

            </div>
        </div>
    </div>

    <section class="mt-5">

        <div class="table-responsive w-75 mx-auto">
            <table class="table">
                <thead class="py-3">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits</th>
                    <th scope="col">État</th>
                    <th scope="col">Inscrit·e</th>
                    <th scope="col">Organisateur·ice</th>
                    <th scope="col">Actions</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">Administrer</th>
                    {% endif %}
                </tr>
                </thead>

                {% for sortie in sorties %}
                    <tr class="table-primary">
                        <td>
                            <a href="{{ path('app_sortie_detail', { id: sortie.id }) }}"
                               class="btn btn-info">{{ sortie.nom }}</a>
                        </td>
                        <td>{{ sortie.dateDebut | date('d/m/Y') }}</td>
                        <td>{{ sortie.dateCloture | date('d/m/Y') }}</td>
                        <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% if not(app.user.sorties.contains(sortie)) %}
                                -
                            {% else %}
                                ✓
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_profil_detail', { id: sortie.organisateur.id }) }}">
                                {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first|upper }}
                            </a>
                        </td>
                        <td>

                            {% if not(app.user.pseudo == sortie.organisateur.pseudo) %}

                                {% if not(app.user.sorties.contains(sortie)) %}

                                    {% if sortie.ouverte %}

                                        <a class="btn btn-success"
                                           href="{{ path('app_sortie_inscription', { id: sortie.id }) }}"
                                           onclick="return confirm('Confirmer l\'inscription ?')">S'inscrire</a>
                                    {% endif %}

                                {% else %}

                                    {% if not(sortie.enCours) %}

                                        <a class="btn btn-secondary"
                                           href="{{ path('app_sortie_desinscription', { id: sortie.id }) }}"
                                           onclick="return confirm('Vous êtes sur le point d\'annuler votre inscription à cette sortie. Confirmer ?')">
                                            Me désinscrire
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% else %}

                                {% if not(sortie.enCours) %}

                                    <a class="btn btn-secondary"
                                       href="{{ path('app_sortie_edit', { id: sortie.id }) }}">Modifier</a>

                                    <a class="btn btn-secondary"
                                       href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                                       onclick="return confirm('Êtes-vous sûr·e de vouloir supprimer cette sortie ?')">
                                        Supprimer
                                    </a>

                                {% endif %}

                            {% endif %}

                            {% if sortie.enCours %}
                                <p>Sortie en cours !</p>
                            {% endif %}

                        </td>


                        <td>
                            {#                                TODO Annuler changer état #}
                            {% if is_granted('ROLE_ADMIN') and not(sortie.enCours) and not(sortie.annulee)%}
                                <a class="btn btn-danger"
                                   href="{{ path('app_sortie_delete', { id: sortie.id, token: csrf_token('sortie_delete' ~ sortie.id) }) }}"
                                   onclick="return confirm('[ADMINISTRATEUR] Êtes-vous sûr·e de vouloir annuler cette sortie ?')">
                                    Annuler
                                </a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>

    </section>

{% endblock %}
